<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="https://tamaro.raisenow.com/bos-ch/latest/widget.js"></script>
    <script src="raisenow.js"></script>
  </head>
  <body>
    <h1>${TITLE} (${KEY})</h1>
    <div id="${KEY}"></div>
  </body>
</html>
