<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <ul>
      <% keys.each do |key| %>
      <li><a href="<%= key %>.html"><%= key %></a></li>
      <% end %>
    </ul>
  </body>
</html>
