// -*- mode: js -*-

// define tamaro widgets
const RNW = <%= forms %>;

// initialize all tamaro widgets defined in RNW
$(() => {
  Object.keys(RNW).forEach(key => {
    const selector = '#'+key;
    const options = RNW[key];
    // console.log('initialize', selector, 'with', options);
    // check if it exists
    if ($(selector).length) {
      window.rnw.tamaro.runWidget(selector, options);
    } else {
      // console.log(selector, "not found.");
    }
  });
});

// HACK: wait until tamaro widget is initialized
// TODO: rewrite to use raisnow slots instead
setTimeout(() => {
  $('#stored_customer_email_permission-info-widget p')
    .append(' <span><%= terms %></span>');
}, 1000)
