// -*- mode: js -*-

// define tamaro widgets
const RNW = <%= forms %>;

const MAPPING = {
  stored_sf_Opportunity_DonationSubject__c: 'stored_customer_subject',
  stored_sf_Opportunity_Cert__c: 'stored_customer_certificate',
  stored_sf_npe03__Recurring_Donation__c_Cert__c: 'stored_customer_certificate',
  stored_sf_Opportunity_RecipientSalutation__c: 'stored_recipient_salutation',
  stored_sf_Opportunity_RecipientFirstname__c: 'stored_recipient_firstname',
  stored_sf_Opportunity_RecipientLastname__c: 'stored_recipient_lastname',
  stored_sf_Opportunity_RecipientEmail__c: 'stored_recipient_email',
  stored_sf_Opportunity_RecipientStreet__c: (form) => {
    const result = [form.stored_recipient_street,
                    form.stored_recipient_street_number].filter(x => x).join(' ');
    result.length > 0 ? result : null;
  },
  stored_sf_Opportunity_RecipientStreet2__c: 'stored_recipient_street2',
  stored_sf_Opportunity_RecipientZipCode__c: 'stored_recipient_zip_code',
  stored_sf_Opportunity_RecipientCity__c: 'stored_recipient_city',
  stored_sf_Opportunity_RecipientCountry__c: 'stored_recipient_country',
  stored_sf_Opportunity_PresentDelivery__c: 'stored_customer_delivery',
  stored_sf_Opportunity_RecipientBirthdate__c: 'stored_recipient_birthdate'
};

const beforePaymentValidateAndSendHandler = (event) => {
  // console.log("beforePaymentValidateAndSendHandler");
  const api = event.data.api;
  const form = api.paymentForm.data;
  Object.keys(MAPPING).forEach(key => {
    const type = typeof MAPPING[key];
    var value = null;
    switch (type) {
    case 'string':
      value = form[MAPPING[key]];
      break;
    case 'function':
      value = MAPPING[key].call(null, form);
      break;
    default:
      console.error(`Unhandled type '${type}' for key '${key}'`);
    }
    if (value) form[key] = value;
  });
  // console.log("beforePaymentValidateAndSendHandler done");
}

const beforePaymentSendHandler = (event) => {
  // console.log("beforePaymentSendHandler");
  const api = event.data.api;
  const form = api.paymentForm.data;
  if (form.purpose == 's11') {
    if (form.amount_position == 1) form.stored_campaign_id = '70109000000199VAAQ';
    if (form.amount_position == 2) form.stored_campaign_id = '70109000000199aAAA';
  }
}

const beforeRenderHandler = (event) => {
  // console.log("beforeRenderHandler");
  const api = event.data.api;
  window.api = api;
  const form = api.paymentForm.data;
  window.form = form;

  const countries = window.rnw.tamaro.toJS(api.computedConfig.countries);
  const countriesOptions = countries.map(function (countryCode) {
    return {
      value: countryCode,
      label: 'countries.' + countryCode,
    };
  });

  // HACK: if the structure changes this will break
  api.config.slots.slot_3 &&
    (api.config.slots.slot_3[0].children[1].children[6].options = countriesOptions);
}

// stf stuff ------------------------------------------------------------

const deepMerge = (...objects) => {
  const isObject = obj => obj && typeof obj === 'object' && !Array.isArray(obj);

  return objects.reduce((prev, obj) => {
    Object.keys(obj).forEach(key => {
      const pVal = prev[key];
      const oVal = obj[key];

      if (Array.isArray(oVal)) {
        // Replace arrays entirely
        prev[key] = oVal;
      } else if (isObject(pVal) && isObject(oVal)) {
        // Deep merge plain objects
        prev[key] = deepMerge(pVal, oVal);
      } else {
        // Replace primitives, nulls, or mixed types
        prev[key] = oVal;
      }
    });

    return prev;
  }, {});
};

function stfDonate(details) {
  const selector = '.brxe-popup-481 .brx-popup-content'
  const content = "<h1>Bitte geben Sie Ihre Spendendaten ein</h1><div id='dynForm'>"
  // $(selector).html(content)
  document.querySelector(selector).innerHTML = content;
  const dynamic = {amounts: [details.amount],
                   paymentFormPrefill: {
                     stored_recipient_lastname: JSON.stringify(details)},
                   translations: {
                     de: {
                       amount_descriptions: [details.description]}}};
  const result = deepMerge({}, RNW["rnwSaveTheForest"], dynamic,
                           {redirectToCustomResultPage: paymentCompleteHandler});
  // console.log(result)
  window.rnw.tamaro.runWidget("#dynForm", result)
  location.hash = 'popup'
  bricksOpenPopup(481)
}

const comments = "/wp-json/wp/v2/comments"

// function stfLoadEntries() {
//   return $.map($.ajax({url: comments + '?post=572', async: false}).responseJSON, function(e, i) {
//     return JSON.parse($(e.content.rendered).text())
//   })
// }

function stfLoadEntries() {
  // Create and send synchronous XHR request
  const xhr = new XMLHttpRequest();
  xhr.open('GET', comments + '?post=572', false); // false for synchronous
  xhr.send();
  // Parse the response
  const responseJSON = JSON.parse(xhr.responseText);
  // Map over the response
  return responseJSON.map(entry => {
    // Create temporary div to parse HTML content
    const div = document.createElement('div');
    div.innerHTML = entry.content.rendered;
    try {
      // Get text content and parse as JSON
      return JSON.parse(div.textContent);
    } catch (e) {
      // Return null or undefined for invalid JSON
      return null;
    }
  })
  .filter(entry => entry !== null); // Remove invalid entries
}

// async function stfLoadEntries() {
//   // Fetch data
//   const response = await fetch(comments + '?post=572');
//   const responseJSON = await response.json();
//   // Map over the response
//   return responseJSON.map(entry => {
//     // Create temporary div to parse HTML content
//     const div = document.createElement('div');
//     div.innerHTML = entry.content.rendered;
//     // Get text content and parse as JSON
//     return JSON.parse(div.textContent);
//   });
// }

// function stfStoreEntry(item) { $.post(comments, {post: 572, content: JSON.stringify(item)}) }

// function stfStoreEntry(item, f) {
//   $.post({url: comments,
//           dataType: "json",
//           data: {post: 572,
//                  content: JSON.stringify(item)},
//           success: f,
//           error: function(xhr, status, error) {
//             console.log(status)
//             console.log(error)
//           }})
// }

function stfStoreEntry(item, f) {
  const xhr = new XMLHttpRequest();
  xhr.open('POST', comments);
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.onload = function() {
    if (xhr.status >= 200 && xhr.status < 300) {
      const response = JSON.parse(xhr.responseText);
      if (f) f(response);
    }
  };
  xhr.onerror = function() {
    console.log('error');
    console.log(xhr.statusText);
  };
  // Format data as URL-encoded string
  const data = `post=572&content=${encodeURIComponent(JSON.stringify(item))}`;
  xhr.send(data);
}


// https://save-the-forest.ch/orang-utans/?rnw-view=payment_result&epms_payment_uuid=e5ba1338-1996-49ec-a658-2958cae1a6a1#popup
function paymentCompleteHandler(widget) {
  // see https://docs.raisenow.com/elements/tamaro/guides/redirect-to-custom-result-page/
  var tx = widget.epmsPaymentInfo
  window.epmsPaymentInfo = tx
  if (tx.last_status === 'succeeded') {
    try {
      // after payment we have to retrieve info from transactionInfo
      // instead of paymentForm
      var payload = JSON.parse(tx.custom_parameters.recipient_lastname)
      // TODO: this doesn't work like this anymore it seems
      payload.name = tx.stored_customer_map_label
      stfStoreEntry(payload, function(data, status, xhr) {
        window.location = 'https://save-the-forest.ch/danke/'
      })
    } catch (error) {
      // silently fail for all forms but rnwSaveTheForest
    }
  }
}

// reopen popup after post payment redirect
// $(() => {
//   if (location.hash === "#popup") {
//     stfDonate({})
//   }
// })

document.addEventListener('DOMContentLoaded', () => {
  if (window.location.hash === '#popup') {
    stfDonate({});
  }
});

// end stf stuff ------------------------------------------------------------

// on dom ready
// $(() => {
document.addEventListener('DOMContentLoaded', () => {
  //console.log("onDocumentReady");

  // subscribe events before initializing widgets
  window.rnw.tamaro.events.beforePaymentValidateAndSend.subscribe(beforePaymentValidateAndSendHandler);
  window.rnw.tamaro.events.beforePaymentSend.subscribe(beforePaymentSendHandler);
  window.rnw.tamaro.events.beforeRender.subscribe(beforeRenderHandler);
  // window.rnw.tamaro.events.paymentComplete.subscribe(paymentCompleteHandler)

  // initialize the widgets
  Object.keys(RNW).forEach(key => {
    const selector = '#'+key;
    if ($(selector).length) window.rnw.tamaro.runWidget(selector, RNW[key]);
  });

  // TODO: RaiseNow has an api to set options via query paramater, no need to reinvent the wheel
  // const json = window.location.hash.match(/#rn(.+)/)[1];
  // if (json) {
  //   const details = JSON.parse(json);
  //   console.log(details);
  //   // rnw.tamaro.instance.paymentForm.
  // }

});
